
// class files 
*.class

// cmd files 
*.cmd

// Bat files 
*.bat

// Test Case File and Expected Output taken from Open Kattis
*.ans
*.in

// .vscode folder for configurations. 
.vscode/

// C and C++ Project Files
*.o 
*.exe

// configurations for devcontainers
.cache/
.dotnet/
.local/
.vscode-server/